src/main/mule/mikepro.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:batch="http://www.mulesoft.org/schema/mule/batch" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/batch http://www.mulesoft.org/schema/mule/batch/current/mule-batch.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="7bcde9de-4931-46bb-9124-ab722ab468a7" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<file:config name="File_Config" doc:name="File Config" doc:id="e7b8db09-45d9-47fe-a3b6-20f6c559cd24" >
		<file:connection workingDir="C:\file2" />
	</file:config>
	<db:config name="Database_Config" doc:name="Database Config" doc:id="190802b0-2fc5-446e-ba39-f5d6d3702c50" >
		<db:my-sql-connection host="localhost" port="3306" user="root" password="root" database="craft_subcity_db" />
	</db:config>
	<flow name="mainFlow" doc:id="ce29f84f-35b1-4414-ad3f-f8d3049e7e2e" >
		<http:listener doc:name="Listener" doc:id="5b1d47ff-878c-4100-ac27-4bca059de8eb" config-ref="HTTP_Listener_config" path="/userData"/>
		<file:read doc:name="User CSV File Read" doc:id="e07a57ec-42d0-4a22-8344-55506727c8fc" config-ref="File_Config" path="C:\file2\input\SubCityUserData.csv" outputMimeType="application/csv"/>
		<ee:transform doc:name="Transform Message" doc:id="cd60a6ad-e767-41c3-8f37-29b04d4bdbd8">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0


output application/java
var msg = 
user:payload map{
	firstName: $.first_name,
	lastName: $.last_name,
	phone: $.phone,
	ssn: $.ssn,
	worda: $.worda
}
---

msg.user[0 to -1] distinctBy $.ssn 
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<batch:job jobName="mikeproBatch_Job" doc:id="e7add346-0a9d-4267-b533-9c0a1a0ce03b" >
			<batch:process-records >
				<batch:step name="Batch_Step" doc:id="e2629481-132c-4457-a23b-8980ce54c19f">
					<db:insert doc:name="Insert USER Data From CSV File" doc:id="4987d194-3530-4405-b77c-da9db4aed0b6" config-ref="Database_Config" target="data">
			<db:sql><![CDATA[INSERT INTO tb_user_data (first_name,last_name, phone, ssn, worda) VALUES (:first_name,:last_name, :phone, :ssn, :worda)ON DUPLICATE KEY UPDATE phone=:phone,worda=:worda;
]]></db:sql>
			<db:input-parameters><![CDATA[#[{
	first_name: payload.firstName,
	last_name: payload.lastName,
	phone:     payload.phone,
	ssn:       payload.ssn,
	worda:     payload.worda
}]]]></db:input-parameters>
		</db:insert>
				</batch:step>
			</batch:process-records>
		</batch:job>
		<ee:transform doc:name="Transform Message" doc:id="cb92b0aa-43ff-4931-a940-85ed2e7bb076">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
